<html>
        <head>
        </head>
        <body>
            <h1>계산기</h1>
            <h2>덧셈    :<%= @sum %></h2>
            <h2>뺄셈    :<%= @sub %></h2>
            <h2>나눗셈  :<%= @div %></h2>
            <h2>곱셈    :<%= @mul %></h2>
        </body>
</html>