<form action = '/op-result'>
    <select name="option">
        <option value="Direct">op.gg에서 보기</option>
        <option value="Indirect">여기에서 보기</option>
    </select>
    <input type="text" name = "id">
    <input type="submit" value = "검색">
</form>
<% if params[:id] %>
<ul>
    <li><%= params[:id]%>님의 전적</li>
    <li><%= @win %></li>
    <li><%= @lose %></li>
</ul>
<% end %>